body {
    font-family: 'ヒラギノ角ゴ ProN W3',"游ゴシック体", YuGothic, "游ゴシック Medium", "Yu Gothic Medium", "游ゴシック", "Yu Gothic", sans-serif;
    line-height: 1.9;
    letter-spacing: 1px;
    width: 100%;
}

header {
    margin: 0;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    opacity: .5;
}

p {
    font-size: 14px;
}

#cp-single h1 {
    font-size: 160%;
}

#cp-single h2 {
    font-size: 140%;
}

#cp-single h3 {
    font-size: 115%;
}

#cp-single h4 {
    font-size: 100%;
}

#cp-single h5 {
    font-size: 80%;
}

#cp-single h6 {
    font-size: 70%;
}

#cp-single p {
    font-size: 16px;
    line-height: 2.0;
}


